.logo {
  display: flex;
  gap: 16px;
  align-items: center;
  color: inherit;
  text-decoration: none;
}

.logoWrapper svg {
  box-shadow: var(--button-shadow);
  border-radius: 12px;
}

.text {
  font-size: 34px;
  line-height: 60px;
  letter-spacing: 0.04em;
}
