.headerButton {
  display: flex;
  height: 60px;
  align-items: center;
  justify-content: center;
  padding: 18px 20px;
  gap: 10px;
  border-radius: 10px;
  background: var(--logo-2);
  box-shadow: var(--shadow);
  cursor: pointer;
}

.headerButton svg {
  width: 24px;
  height: 24px;
}

.headerButton h4 {
  font-family: var(--button-text-font);
  white-space: nowrap;
  color: var(--main-text-color);
  font-size: 18px;
  font-weight: 700;
}

@media (max-width: 1024px) {
  .headerButton {
    height: 40px;
    width: 40px;
    padding: 0;
  }

  .headerButton svg {
    width: 20px;
    height: 20px;
  }

  .headerButton h4 {
    display: none;
  }
}
