.wrapper {
  width: 100%;
  text-align: center;
}

.button {
  width: 304px;
  height: 64px;
  padding: 20px 24px;
  border-radius: 10px;
  background: var(--primary-button);
  color: var(--secondary-elements);
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  border: none;
  cursor: pointer;
}
