.label {
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;
}

.input {
  display: block;
  width: 100%;
  height: 56px;
  border-radius: 10px;
  border: 2px solid var(--input-border);
  padding: 16px;
  margin-top: 8px;
  margin-bottom: 8px;
}

.description {
  color: var(--secondary-text);
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
}
