.icon {
  display: flex;
  padding: 18px;
  margin: auto;
  border-radius: 50%;
  width: fit-content;
  background: var(--gradient);
  box-shadow: var(--box-shadow);
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

.show {
  opacity: 1;
}
