.button {
  height: 60px;
  padding: 18px 20px;
  border: none;
  background: var(--gradient);
  border-radius: 10px;
  box-shadow: var(--boxShadow);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  font-size: inherit;
  font-weight: 700;
  font-family: var(--IBM);
  cursor: pointer;
}

@media (max-width: 764px) {
  .withoutText {
    display: none;
  }

  .button {
    height: 40px;
    width: 40px;
    padding: 0;
  }

  .button svg {
    width: 20px;
    height: 20px;
  }

  .w100 {
    width: 100%;
  }
}
