.card {
  min-height: 204px;
  max-width: calc((var(--content-width) - 80px - 64px) / 3);
  background-color: var(--component-background);
  box-shadow: var(--shadow);
  border-radius: 16px;
  padding: 32px;
  color: var(--card-color);
  list-style-type: none;
  cursor: pointer;
}

.card:hover {
  box-shadow: var(--hover-shadow);
}

.headingAndHover {
  display: flex;
  gap: 32px;
}

.heading {
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 4px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.icon {
  visibility: hidden;
}

.card:hover .icon {
  visibility: visible;
}

.wages {
  font-size: 16px;
  line-height: 24px;
  font-weight: 500;
  margin-bottom: 16px;
}

.text {
  font-size: 12px;
  line-height: 16px;
  font-weight: 500;
}

.experience {
  display: flex;
  gap: 8px;
  margin-top: 16px;
}

.mb8 {
  margin-bottom: 8px;
}
