.content {
	position: relative;
	padding: 24px 16px;
	border-radius: 10px;
	background-color: var(--bg-primary);
	transition: background-color 0.5s ease-in-out;
}

.header {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 16px;
	margin-bottom: 16px;
}

.logo {
	color: var(--link-active);
	transition: color 0.5s ease-in-out;
}

.headerTitle {
	font-size: 28px;
	font-style: normal;
	font-weight: 700;
	line-height: 1.214;
}

.img {
	position: absolute;
	top: -96px;
	right: 0;
	height: 128px;
	width: 118px;
	filter: brightness(var(--bryghtness));
}

.title {
	margin: 0 0 24px;
	font-size: 28px;
	font-weight: 700;
	line-height: 1.214;
	text-align: center;
}

@media (min-width: 744px) {
	.content {
		padding: 64px 64px 44px;
	}

	.header {
		gap: 8px;
		margin-bottom: 24px;
	}

	.logo svg {
		width: 91px;
		height: 40px;
	}

	.headerTitle {
		font-size: 32px;
		font-weight: 700;
		line-height: 1.25;
	}

	.img {
		top: -120px;
		width: 179px;
		height: 193px;
	}

	.title {
		margin: 0 0 32px;
		font-size: 32px;
		line-height: 1.25;
	}
}

@media (min-width: 1280px) {
	.title {
		font-size: 42px;
		line-height: 1.19;
	}

	.header {
		flex-direction: row;
		align-items: flex-end;
		margin-bottom: 26px;
	}

	.logo svg {
		width: 96px;
		height: 46px;
	}

	.headerTitle {
		flex: 1 1 100%;
		padding-right: 104px;
		text-align: center;
		font-weight: 500;
	}
}

@media (min-width: 1600px) {
	.content {
		padding: 80px 80px 60px;
	}

	.title {
		font-size: 42px;
		line-height: 1.19;
	}

	.header {
		margin-bottom: 32px;
	}

	.logo svg {
		width: 106px;
		height: 50px;
	}

	.headerTitle {
		padding-right: 114px;
		font-size: 42px;
		font-weight: 700;
		line-height: 1.19;
	}
}
