/*П Е Р Е М Е Н Н Ы Е*/

:root {
  --logo-2: linear-gradient(137deg, #fff76a 0%, #ffce89 100%);
  --main-text-color: #1e2022;
  --second-text-color: #acacac;
  --button-text-font: 'IBM Plex Sans', sans-serif;
  --text: #1e2022;
  --shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
}

/*С Б Р О С   С Т И Л Е Й */

* {
  padding: 0px;
  margin: 0px;
  border: none;
  font-family: 'Roboto', serif;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

a,
a:link,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

aside,
nav,
footer,
header,
section,
main {
  display: block;
}

ul,
ul li {
  list-style: none;
}

img,
svg {
  max-width: 100%;
  height: auto;
}

.App {
  padding: 40px;
}

@media (max-width: 1440px) {
  .App {
    padding: 40px 80px;
  }
}

@media (max-width: 1024px) {
  .App {
    min-width: 320px;
    padding: 20px;
  }
}
