.list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
  list-style-type: none;
  gap: 20px;
}

@media (max-width: 1439px) {
  .list {
    grid-template-columns: repeat(auto-fill, minmax(412px, 1fr));
    gap: 40px;
  }
}

@media (max-width: 764px) {
  .list {
    grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
    gap: 20px;
  }
}
