.footer {
  height: 84px;
  padding: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--day-text-color);
  font-size: 16px;
  line-height: 20px;
  flex: 1; /* Временно, чтобы прижать футер к низу */
  align-items: flex-end;
}

@media (max-width: 886px) {
  .footer {
    padding: 24px;
  }
}

@media (max-width: 640px) {
  .footer {
    padding: 16px;
    font-size: 12px;
    line-height: 16px;
    height: auto;
  }
}
