.ldsEllipsis {
	display: inline-block;
	position: relative;
	width: 94px;
}
.ldsEllipsis div {
	position: absolute;
	top: -14px;
	width: 14px;
	height: 14px;
	border-radius: 50%;
	background: var(--light-theme-bg-primary-default);
	color: white;
	animation-timing-function: cubic-bezier(0, 1, 1, 0);
}
.ldsEllipsis div:nth-child(1) {
	left: 8px;
	animation: lds-ellipsis1 0.6s infinite;
}
.ldsEllipsis div:nth-child(2) {
	left: 8px;
	animation: lds-ellipsis2 0.6s infinite;
}
.ldsEllipsis div:nth-child(3) {
	left: 40px;
	animation: lds-ellipsis2 0.6s infinite;
}
.ldsEllipsis div:nth-child(4) {
	left: 72px;
	animation: lds-ellipsis3 0.6s infinite;
}
@keyframes lds-ellipsis1 {
	0% {
		transform: scale(0);
	}
	100% {
		transform: scale(1);
	}
}
@keyframes lds-ellipsis3 {
	0% {
		transform: scale(1);
	}
	100% {
		transform: scale(0);
	}
}
@keyframes lds-ellipsis2 {
	0% {
		transform: translate(0, 0);
	}
	100% {
		transform: translate(32px, 0);
	}
}
