.main {
  display: flex;
  flex-wrap: wrap;
  column-gap: var(--std-offset-xs);
  row-gap: var(--std-offset-md);
}

.main > *:first-child {
  flex-grow: 1;
}

.main > *:last-child {
  flex-basis: var(--col-right-width);
}


@media (max-width: 991.98px) {
  .main {
    row-gap: var(--std-offset-lg);
  }
}

@media (max-width: 699.98px) {
  .main {
    row-gap: var(--std-offset-md);
  }
}