.container {
  position: relative;
}

.img {
  position: absolute;
  top: -23px;
  right: 0;
}

.heading {
  font-size: 36px;
  font-weight: 700;
  line-height: 44px;
  margin-bottom: 8px;
  text-align: center;
}

.toQuiz,
.choose {
  font-size: 28px;
  line-height: 32px;
  text-align: center;
}

.choose {
  margin-block: 32px 16px;
}

.wrapper {
  display: flex;
  justify-content: center;
  margin-bottom: 32px;
}

@media (max-width: 653px) {
  .img {
    height: 89px;
    width: 89px;
    top: -14px;
  }

  .heading {
    font-size: 24px;
    line-height: 28px;
    margin-bottom: 6px;
  }

  .toQuiz,
  .choose {
    font-size: 18px;
    line-height: 22px;
  }

  .choose {
    margin-block: 16px 12px;
  }

  .wrapper {
    margin-bottom: 16px;
  }
}
