.similar {
  padding-top: 32px;
}

.similarHeading {
  font-size: 24px;
  line-height: 32px;
  font-weight: 700;
  margin-block: 0 32px;
}

.moreSimilarButtonWrapper {
  width: 100%;
  margin-top: 32px;
  text-align: center;
}

.moreSimilarButton {
  padding: 16px 24px;
  background: var(--primary-500);
  border-radius: var(--border-radius);
  font-size: 14px;
  line-height: 20px;
  font-weight: 700;
  color: var(--neutral-100);
}
.skeleton {
  margin-top: 32px;
}
