@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@300;400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');
@import url('variables.css');
@import './normalize.css';

*,
html,
body {
  margin: 0;
  padding: 0;
  font-family: var(--roboto);
  font-size: 18px;
  color: var(--text-main);
  box-sizing: border-box;
}

html,
body {
  min-width: 1440px;
  height: 100vh;
  background-color: var(--bg-main);
}

.root {
  min-height: 100%;
}
