.card {
  display: flex;
  flex-direction: column;
  row-gap: 16px;
  padding: 16px;
  border-radius: var(--std-border-radius);
  background: var(--clr-neutral-tone);
  color: var(--clr-neutral-1);
  text-align: center;
}

.card__header {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 16px;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
}

.card__header::after {
  --icon-size: 32px;
  content: "";
  width: var(--icon-size);
  height: var(--icon-size);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.card__header--humidity::after {
  background-image: url('../../img/cards/humidity.png');
}

.card__header--barometr::after {
  background-image: url('../../img/cards/barometr.png');
}

.card__header--visibility::after {
  background-image: url('../../img/cards/visibility.png');
}

.card__header--sunrise::after {
  background-image: url('../../img/cards/sunrise.png');
}

.card__header--sunset::after {
  background-image: url('../../img/cards/sunset.png');
}

.card__header--direction::after {
  background-image: url('../../img/cards/direction.png');
}

.card__value {
  font-weight: 400;
  font-size: 32px;
  line-height: 32px;
  text-align: center;
}

.card__row {
  display: flex;
  justify-content: space-between;
  column-gap: 16px;
}

.card__desc {
  font-size: 12px;
  line-height: 16px;
}

@media (max-width: 699.98px) {
  .card {
    row-gap: var(--std-offset-xs-m);
    padding: var(--std-offset-xs-m);
  }

  .card__header {
    font-size: 12px;
    line-height: 16px;
  }

  .card__header::after {
    --icon-size: 24px;
  }

  .card__value {
    font-size: 22px;
    line-height: 22px;
  }

  .card__desc {
    font-size: 10px;
    line-height: 12px;
  }

}