@font-face {
  font-family: Raleway;
  font-style: normal;
  font-weight: 400;
  src: url("../../public/fonts/raleway/regular.woff2") format("woff2");
}

@font-face {
  font-family: Raleway;
  font-style: normal;
  font-weight: 700;
  src: url("../../public/fonts/raleway/bold.woff2") format("woff2");
}

@font-face {
  font-family: Raleway;
  font-style: normal;
  font-weight: 600;
  src: url("../../public/fonts/raleway/semibold.woff2") format("woff2");
}