form {
	display: flex;
	align-items: center;
	flex-direction: column;
	padding: 64px 64px 44px 64px;
	margin-top: 34px;
	gap: 32px;
	border-radius: var(--radius10);
	background-color: var(--white);
}

.formImg {
	position: absolute;
	right: 0;
	top: -35px;
}

.formTitle {
	font-size: 42px;
	font-weight: 700;
	line-height: 50px;
	color: #2d2d2d;
}

.inputs {
	display: flex;
	flex-direction: column;
	gap: 16px;
}
