.imageItem {
  position: relative;
  height: 220px;
  background-size: cover;
  background-repeat: no-repeat;
  border: none;
  border-radius: 12px;
  background-color: lightgray;
  box-shadow: var(--box-shadow);
  cursor: pointer;
  transition: opacity 0.3s ease-in-out;
}

.portrait {
  height: 460px;
  grid-row: span 2;
}

.notSelected {
  opacity: 0.5;
}

@media (max-width: 1439px) {
  .imageItem {
    height: 271px;
  }
  .portrait {
    height: 582px;
  }
}

@media (max-width: 764px) {
  .imageItem {
    height: 190px;
  }
  .portrait {
    height: 400px;
  }
}
