li {
  list-style-type: none;
  text-align: center;
  padding: 2px 0;
  font-size: 24px;
}

li:hover {
  background-color: lightgray;
}

.drop_down {
  position: relative;
}

.select {
  display: flex;
  padding: 0 18px;
  width: 100px;
  height: 60px;
  border-radius: 10px;
  border: none;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
  font-size: 24px;
  background-color: #fff;
  justify-content: space-between;
  align-items: center;
  font-size: 24px;
}

.select::after {
  content: url(../../../assets/img/chevron-down.png);
  height: 20px;
  width: 20px;
}

.options {
  position: absolute;
  z-index: 1000;
  width: 100px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  padding: 10px 0;
  overflow: hidden;
  transition: height, 0.5s;
}

.select:hover,
.options:hover {
  cursor: pointer;
}

.drop {
  height: 635px;
}

.img {
  width: 36px;
  height: 36px;
}

.active {
  background-color: darkgray;
}

.mb10 {
  margin-bottom: -10px;
}
