:root {
  --white-text: #fff;
  --logo-font-family: 'Inter', sans-serif;

  --light-theme-bg-primary-default: #fcfcfc;
  --light-theme-bg-primary-button-default: #ff9c46;
  --light-theme-bg-primary-button-disable: #edd0b6;

  --light-theme-text-primary-default: #2d2d2d;
  --light-theme-text-secondary-default: #909090;
  --light-theme-text-secondary-elements: #c2c2c2;

  --dark-theme-accent: #ffaa60;

  --both-theme-variant-incorrect: #df4c25;
  --both-theme-input-success: #2a8f55;
  --both-theme-input-default: #05303d;

  --radius10: 10px;
  --white: white;
}
