@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100..900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100%;
  color: var(--text);
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
}

:root {
  --font-main: 'Montserrat', sans-serif;
  --box-shadow: 0 3px 15px 0 rgba(0, 0, 0, 0.03);
  --box-shadow-hover: 4px 4px 15px 0 rgba(0, 0, 0, 0.08);
  --background: #f9f9f9;
  --background-focus: #ebf1fa;
  --background-page: #f6f6f6;
  --primary: #5c89ce;
  --hover: #8caee0;
  --hover-background: #ebf1fa;
  --border-radius: 16px;
  --text: #202020;
  --inactive: #c5c5c5;
  --text-secondary: #747474;
  --sceleton-baclground: #e1e1e1;
}
