.container {
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
	background: linear-gradient(
		45deg,
		#145464 0% 39.55%,
		#ef6c42 39.55% 55%,
		#fc9b44 55% 88.35%,
		#fccb4b 88.35% 100%
	);
}

.wrapper {
	position: relative;
	width: 704px;
}

.formImg {
	position: absolute;
	right: 0;
	top: -40px;
}

.contentWrapper {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 64px;
	margin-top: 27px;
	gap: 40px;
	background-color: white;
	border-radius: 10px;
}

.title {
	color: var(--light-theme-text-primary-default);
	text-align: center;
	font-size: 42px;
	font-style: normal;
	font-weight: 700;
	line-height: 50px;
}

.footerWrapper {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 304px;
	gap: 8px;
}

.description {
	color: var(--light-theme-text-secondary-default);
	font-size: 10px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
}

.enter {
	font-weight: 700;
}
