.slide-tab {
  position: absolute;
  visibility: hidden;
  opacity: 0;
  top: 0;
  left: 3px;
  transition: opacity .4s ease;
}

.slide-tab.active {
  position: relative;
  visibility: visible;
  opacity: 1;
  transition: opacity .4s ease, visibility .4s ease;
}

.statistic-list {
  display: flex;
  flex-direction: row;
  width: 100%;
  gap: var(--std-offset-xs);
  overflow: hidden;
  align-items: center;
  -webkit-mask-image: linear-gradient(90deg, #000 95%, transparent 100%);
  mask-image: linear-gradient(90deg, #000 95%, transparent 100%);
}

.statistic-list__item {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: var(--std-offset-xs);
  padding: 16px;
  background-color: var(--clr-background);
  border-radius: var(--std-border-radius);
}

.statistic-list__day,
.statistic-list__info {
  font-weight: 400;
  font-size: 16px;
  line-height: 125%;
  color: var(--black-text);
  white-space: nowrap;
}

.statistic-list__icon {
  width: 32px;
  height: 32px;
}

@media all and (max-width: 1023px) {

  .statistic-list {
    gap: var(--std-offset-xs-m);
  }

}

@media all and (max-width: 885px) {

  .statistic-list__item {
    flex-direction: column;
  }
}

@media all and (max-width: 767px) {

  .statistic-list {
    gap: var(--std-offset-xs-s);
  }

  .statistic-list__item {
    flex-direction: row;
    padding: var(--std-offset-xs-m);
    gap: var(--std-offset-xs-m);
  }

  .statistic-list__day,
  .statistic-list__info {
    font-size: var(--std-offset-xs-m);
    line-height: 133%;
  }

  .statistic-list__icon {
    width: 24px;
    height: 24px;
  }
}

@media all and (max-width: 639px) {

  .statistic-list__item {
    flex-direction: column;
  }
}