:root {
  --content-color: #f5f4f4;
  --content-color-gray: #a6a6a6;
  --content-color-black: #202020;
  --card-background: #f5f4f466;
  --card-background-active: #dadada;
  --card-bar-bg-white: #dadada66;
}
